
body{
    background: aliceblue;
width: 400px;
display: flex;
justify-content: center;
width: 100vw;
overflow-x: hidden;
}
.Input_block {
    background: rgb(161, 156, 156);
    width: 400px;
    text-align: center;
    padding: 20px 40px; 
    margin-top: 60px;
    color: white;
    height: auto;
    border-radius: 20px;
}
.Input_block div input{
    padding: 7px 20px;
    margin: 9px 0px;
}
.Input_block div button{
    padding: 7px 30px;
    color: white;
    border: 0px;
    background: rgb(133, 157, 161);
    transition: all 0.45s ease-in-out;
}

.Input_block div button:hover {
background: transparent;
border: 3px solid white;
}